@import url("../colorScheme.css");

* {
  border: none;
  border-radius: 40px;
  font-family: Jetbrains Mono Nerd Font;
  font-size: 15.5px;
  min-height: 0;
}

window#waybar {
  background: alpha(@base01,0.6);
}

/* Workspaces */
#workspaces {
  background: shade(@base01,1);
  margin: 5px 5px;
  padding: 5px 5px;
  border-radius: 16px;
}
#workspaces button {
  padding: 0px 5px;
  margin: 0px 3px;
  min-width: 20px;
  border-radius: 16px;
  color: transparent;
  background: rgba(21,24,24,1);
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  background: alpha(@base08,1);
  color: #000000;
  border-radius: 16px;
  min-width: 40px;
  background-size: 400% 400%;
  transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
  background-color: alpha(@base0F,1);
  color: #000000;
  border-radius: 16px;
  min-width: 40px;
  background-size: 400% 400%;
}
/**/

/* Colors */
#tray,
#pulseaudio,
#network,
#battery,
#cpu, 
#memory, 
#bluetooth, 
#pulseaudio-slider slider, 
#pulseaudio-slider trough,
#pulseaudio-slider,
#custom-notification, 
#clock, 
#custom-playerctl
{
  color: alpha(@base08,1);
  background-color: rgba(24, 28, 28, 1);
}
/**/

/* Defaults */
#pulseaudio,
#network,
#battery,
#cpu,
#memory,
#bluetooth{
  font-weight: bold;
  margin: 5px 0px;
  border-radius: 24px 24px 24px 24px;
  padding: 0 20px;
  margin-left: 7px;
}
/**/

/* Custom */
#bluetooth {
  border-radius: 0px;
  margin: 5px 0;
}

#battery {
  border-radius: 0px 24px 24px 0px;
  margin: 5px 0;
}

#clock, #tray, #custom-notification {
  border-radius: 24px 24px 24px 24px;
  padding: 0 20px;
  margin-left: 7px;
  margin: 5px 7px;
  font-weight: bold;
}


#custom-playerctl {
  color: alpha(@base0A,1);
  padding: 0 20px;
  border-radius: 24px 24px 24px 24px;
  margin: 5px 0;
  font-weight: bold;
}

#pulseaudio, #network {
  border-radius: 24px 0px 0px 24px;
}
#pulseaudio.muted {
  color: @base0E;
}
#pulseaudio-slider {
  border-radius: 0px 24px 24px 0px;
  margin: 5px 0 5px 0;
  padding: 0 20px 0 0px;
}
#pulseaudio-slider slider {
  min-height: 0px;
  color: @base08;
  min-width: 0px;
  opacity: 1;
  border: none;
  border-radius: 7px;
  box-shadow: none;
  background-color: alpha(@base01,1);
}
#pulseaudio-slider trough {
  min-height: 10px;
  min-width: 90px;
  border-radius: 5px;
  background-color: alpha(@base08,0.1);
}
#pulseaudio-slider highlight {
  min-width: 0px;
  border-radius: 5px;
  background-color: @base08;
  color: @base08;
}
/* EOF */
